* {
  font-family: "Roboto", sans-serif;
  color: rgb(7, 1, 1);
}

.page {
  margin: 20px;
}

.title {
  margin-bottom: 20px;
}

.item {
  background: white;
  font-size: 36px;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
/* Si le meto el flex-direction: row, el eje principal sería el horizontal y con el column el eje principal es el vertical */
