.cabecera {
  border: solid 5px red;
  background: purple;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  /* z-index: 999; Hacer que cuando la usuaria haga scroll, la cabecera se apile o superponga por encima del contenedor principal. */
}

.titulo {
  text-align: center;
}

.contenedor {
  border: solid 5px blue;
  background: burlywood;
  width: 100%;
  position: relative;
  z-index: 999;
  top: 80px;
  left: 10px;
  /* z-index: 990; Hacer que cuando la usuaria haga scroll, la cabecera se apile o superponga por encima del contenedor principal. */
}
